@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    max-width: 100%;
    height: 91px;
}

.header-logo {
    float: left;
    padding: 30px;
    position: relative;
    left: 30px;
}

.nav-wrap {
    display: inline-block;
    position: relative;
    margin-left: 60px;
}

.header-nav {
    display: inline-block;
    padding: 30px;
}

.header-nav a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
}

.header-nav a img {
    margin-left: 5px;
}

.header-login {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 110px;
    margin-right: 75px;
    margin-top: 3px;
    padding: 20px;
}

.header-login a {
    background-color: white;
    padding: 10px;
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.header-register {
    position: absolute;
    top: 0;
    right: 50px;
    padding: 20px;
}

.header-register button {
    background-color: white;
    padding: 10px;
    font-family: 'Epilogue', sans-serif;
    border-radius: 12px;
    width: 100px;
    height: 40px;
}

.header-register a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    min-width: 450px;
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.box {
    width: 550px;
    margin-top: 50px;
    margin-right: 50px;
}

.box h1 {
    font-size: 68pt;
    margin-bottom: 25px;
    font-family: 'Epilogue', sans-serif;
}

.box p {
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    text-align: left;
    line-height: 1.5em;
    margin-bottom: 35px;
    width: 483px;
}

.box button {
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 90px;
    width: 130px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
}

.box div img {
    padding: 15px;
}

.container div {
    width: 100%;
}

.box div {
    margin-top: -55px;
}

@media (min-width: 450px) and (max-width: 1024px) {
    .container .image {
        position: absolute;
        top: 160px;
        width:100%;
    }

    .container .image img {
        height: 400px;
        width: 95%;
    }

    .box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 600px;
        margin: 0;
    }

    .box h1 {
        font-size: 42px;
    }

    .box p {
        text-align: center;
    }

    .box a {
        position: absolute;
        display: flex;
        top: 180px;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .box div {
        position: relative;
        bottom: -170px;
        width: 100%;
        margin-bottom: 5px;
    }

    .box div img {
        display: inline-block;
        flex-direction: row;
        align-items: center;
        width: 19%;
        margin-bottom: 30px;
    }
}